
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: black;
    color: white;
    margin-top:10rem;
    border: 2px solid peru;
    border-radius: 10px;
    width: 40%;
    padding: 30px;
    margin-left: 30%;
    box-shadow: 0 0 40px;
}
h1{
    font-size: 40px;
    color: rgb(194, 145, 72);
}

button{
    margin-top: 10px;
    font-size: 25px;
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(177, 153, 48);
}
button:hover{
 font-size: 35px;
 background-color: aqua;
}

p{
    display: none;
    width: 50%;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    border: 2px solid rgb(1,248,1);
    border-radius: 10px;
    padding: 5px;
    color:rgb(241, 167, 7) ;
    margin-left: 23%;
}